<a href="https://colab.research.google.com/github/ojeozilabo/12102021/blob/master/Ojeozilabo1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import datetime

In [ ]:
name=input("Enter your name :")  
age=int(input("Enter your age : "))
year =int(input('Enter your birth year :'))
month =int(input('Enter your birth month :'))
day =int(input('Enter your birth day :'))  
dob = datetime.date(year, month, day)  
print('Name :',name)
print('Age :',age)
print('DOB :',dob)

Enter your name :Adeoye
Enter your age : 38
Enter your birth year :1983
Enter your birth month :10
Enter your birth day :16
Name : Adeoye
Age : 38
DOB : 1983-10-16

In [ ]:
name = input("Enter name: ")
age = input("Enter age: ")
print("Hi, my name is " + name + ", and I am " + age + " years old.")

Enter name: Adeoye
Enter age: 38
Hi, my name is Adeoye, and I am 38 years old.

In [ ]:
year = 2021

In [ ]:
DOB = year - age
DOB

1983

In [ ]:
age = 38
if (age <=1): 
  group = "infants"
elif (age >=1) & (age <=11):
  group = "Children"
elif (age >=11) & (age <=18):
  group = "Teens"
elif (age >=18) & (age <=65):
  group = "Adults"
else:
  group = "older Adult"
print(group)

Adults

In [ ]:
dec_ago = age - 10

In [ ]:
dec_ago

28

In [ ]:
for i in range(10, 60, 10):
  print(i)

10
20
30
40
50

In [ ]:
new_age = []
new_year = []


for i in range(10, 60, 10):
  new = age + i
  new_age.append(new)
  print (new_age)
  new_y = year + i
  new_year.append(new_y)
  print(new_year)

[48]
[2031]
[48, 58]
[2031, 2041]
[48, 58, 68]
[2031, 2041, 2051]
[48, 58, 68, 78]
[2031, 2041, 2051, 2061]
[48, 58, 68, 78, 88]
[2031, 2041, 2051, 2061, 2071]

In [ ]:
new_year

[2031, 2041, 2051, 2061, 2071]

In [ ]:
new_age

[48, 58, 68, 78, 88]

In [ ]:
len(new_age)

5

In [ ]:
for i in range(len(new_age)):
 a = new_age[i]
 b = new_year[i]
 print (a, b)

48 2031
58 2041
68 2051
78 2061
88 2071